# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

## IDEs
#.idea/

## Data files
#*.csv

## Exports
#*.html

# Network captures
*.pcap

## Documentation
#*.pdf
